@import url("../../styles/params.css");

.trailer{
  position: relative;
  display: inline-block;
  width: 100%;

  .playButton{
    background: url('http://cdn1.iconfinder.com/data/icons/iconslandplayer/PNG/64x64/CircleBlue/Play1Pressed.png') center center no-repeat;
    margin: -50% 0 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
  }

  .coverImage{
    width: 100%;
    z-index: 9;
    text-align: center;
  }
}
