@import url("../../../styles/params.css");

.film{
  position: relative;
  top: var(--topbar-height);
  margin: 0px auto;

  display: flex;
  align-items: top;
  justify-content: space-around;

  padding-top: var(--film-top-padding);

  .half-panel{
    width: 50%;
    padding: var(--film-panel-padding);
    display: flex;
    flex-direction: column;
  }
  /* DETAILS */
  h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--dark-blue);
    margin-top: 8px;
  }
  p{
    margin-top: 0px;
  }
  .subhead{
    display: block;

    div{
      font-size: 25px;
      color: var(--dark-gray);
      float: left;
      &::after{
        padding: 0px 10px;
        color: var(--light-gray);
        content: '|';
      }
      &:last-child:after {
        content: '';
      }
    }
  }
  .item-list{
    a{
      color: var(--light-blue);
      text-decoration: none;
      &::after{
        color: var(--dark-gray);
        content: ', ';
      }
      &:last-child:after{
        content: '';
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .report{
    color: var(--mid-gray);
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width : 767px) {
  .film{
    width: 100%;
    .half-panel{
      width: 100%;
    }
  }
}

@media only screen and (min-width : 768px) and (max-device-width : 1024px) {
  .film{
    width: 768px;
  }
}

@media only screen  and (min-width : 1024px) {
  .film{
    width: 960px;
    .half-panel{
      width: 50%;
    }
  }
}
